{% extends 'base_admin.html.twig' %}

{% block title %}Liste des Commandes{% endblock %}

{% block body %}
    <h1>Liste des Commandes</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Détails</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>
                    <a href="{{ path("app_admin_client_show", {id: commande.client.id}) }}">
                        {{ commande.client.id ~ " - " ~ commande.client.prenom ~ " " ~ commande.client.nom }}
                    </a>
                </td>
                <td>{{ commande.montant }}</td>
                <td>{{ commande.date ? commande.date|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ commande.etat }}</td>
                <td>{{ commande.details|length }}</td>
                <td>
                    <a href="{{ path('app_admin_commande_show', {'id': commande.id}) }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_admin_commande_edit', {'id': commande.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_commande_new') }}"><i class="fa fa-plus"></i> Ajouter</a>
{% endblock %}
