{% extends 'base_admin.html.twig' %}

{% block title %}Liste des Genres{% endblock %}

{% block titre %}{{ block("title") }}{% endblock %}

{% block body %}

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>Mots clés</th>
                <th>Nb de livres</th>
                <th><i class="fa fa-tools"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.libelle }}</td>
                <td>{{ genre.motsCles }}</td>
                <td>{{ genre.livres|length }}</td>
                <td>
                    <a href="{{ path('app_admin_genre_show', {'id': genre.id}) }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_admin_genre_edit', {'id': genre.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun genre enregis</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
