{% extends 'base_admin.html.twig' %}

{% block title %}Liste des Genres{% endblock %}

{% block titre %}{{ block("title") }}{% endblock %}

{% block body %}

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th class="col-1">Id</th>
                <th class="col-4">Libellé</th>
                <th class="col-5">Mots clés</th>
                <th class="col-1">Nb de livres</th>
                <th class="col-1"><i class="fa fa-tools"></i></th>
            </tr>
        </thead>
        <tbody>
            {# 💬   la fonction 'render' permet d'afficher le rendu d'une route (en utilisant 'path' ou 'url')    
            💬      avec la fonction 'controller', on peut appeler directement une méthode d'un contrôleur sans   
            💬      sans être obligé de créer une nouvelle route                                                #}
            <tr> {{ render(controller("App\\Controller\\Admin\\GenreController::form")) }} </tr>
            
            {% for entite in genres %}

            <tr>
                <td>{{ entite.id }}</td>
                <td>{{ entite.libelle }}</td>
                <td>{{ entite.motsCles }}</td>
                <td>{{ entite.livres|length }}</td>
                <td>
                    <a href="{{ path('app_admin_genre_show', {'id': entite.id}) }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_admin_genre_edit', {'id': entite.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>

            {% else %}

            <tr>
                <td colspan="4">Aucun genre enregis</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

{% endblock %}
