{% extends 'base_admin.html.twig' %}

{% block title %}Fiche Genre{% endblock %}

{% block titre %}Fiche Genre{% endblock %}
{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ genre.libelle }}</td>
            </tr>
            <tr>
                <th>Mots_cles</th>
                <td>{{ genre.motsCles }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_genre_index') }}" class="btn btn-secondary"><i class="fa fa-reply"></i> Retour à la liste</a>

    <a href="{{ path('app_admin_genre_edit', {'id': genre.id}) }}">edit</a>

    {{ include('admin/genre/_delete_form.html.twig') }}
{% endblock %}
