{% extends 'base_admin.html.twig' %}

{% block title %}Fiche Genre{% endblock %}

{% block titre %}Fiche Genre{% endblock %}
{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entite.id }}</td>
            </tr>
            <tr>
                <th>Libellé</th>
                <td>{{ entite.libelle }}</td>
            </tr>
            <tr>
                <th>Mots-clés</th>
                <td>{{ entite.motsCles }}</td>
            </tr>
            <tr>
                <th>Livres</th>
                <td>
                    <table class="table table-bordered table-primary table-sm">
                        <thead class="table-dark">
                            <tr>
                                <th class="col-1">ID</th>
                                <th class="col-6">Titre</th>
                                <th class="col-5">Auteur</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for livre in entite.livres %}
                            <tr>
                                <td>
                                    <a href="{{ path('app_admin_livre_show', {id: livre.id}) }}" class="d-block">
                                        {{ livre.id }}
                                        <i class="fa fa-eye float-right"></i>
                                    </a>
                                </td>
                                <td>{{ livre.titre }}</td>
                                <td>{{ livre.auteur.identite }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Aucun livre de ce genre dans la bibliothèque</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>


    {{ include ("admin/_communs/_buttons_line.html.twig") }}
{% endblock %}
