{% extends 'base.html.twig' %}

{% block title %}Fiche Produit{% endblock %}

{% block body %}
    <h1>Fiche Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Réference</th>
                <td>{{ produit.reference }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ produit.categorie }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ produit.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ produit.couleur }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{{ produit.public }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ produit.photo }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }} €</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ produit.stock }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ produit.taille }}</td>
            </tr>

            <tr>
                <th>Popularité</th>
                <td>produit commandé {{ produit.details|length }} fois </td>
            </tr>

        </tbody>
    </table>

    <div class="d-flex">
        <a href="{{ path('app_accueil') }}" class="col-4"><i class="fa fa-home"></i> Retour à la page d'accueil</a>

        <form method="GET" action="{{ path("app_panier_ajouter", { id: produit.id }) }}" class="col-8 mt-2 mb-5 form-inline" id="">
            <div class="row m-0">
                <div class="col-12 d-flex flex-row justify-content-between px-0">
                    <label for="quantite" class="col-8">Ajouter ce produit au panier </label>
                    <input type="number" name="quantite" value=1 min=1 max={{ produit.stock }} class="form-control col-2">
                    <button class="btn btn-info col-2">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}
