{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block titre %}Fiche Categorie{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ categorie.titre }}</td>
            </tr>
            <tr>
                <th>Mots-clés</th>
                <td>{{ categorie.mots }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_categorie_index') }}" class="btn btn-warning">
<i class="fa fa-reply"></i> Retour liste
</a>

    <a href="{{ path('admin_categorie_edit', {'id': categorie.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</a>

	<span class="float-right">
	    {{ include('admin_categorie/_delete_form.html.twig') }}
	</span>
{% endblock %}
