{% extends 'gestion.html.twig' %}

{% block title %}Fiche Catégorie{% endblock %}

{% block titre %}{{ block("title") }}{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ categorie.titre }}</td>
            </tr>
            <tr>
                <th>Mots-clés</th>
                <td>{{ categorie.mots }}</td>
            </tr>
            <tr>
                <th>Livres</th>
                <td>
                    <table class="table table-bordered table-primary table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Titre</th>
                                <th>Auteur</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for livre in categorie.livres %}
                                <tr>
                                    <td>{{ livre.id }}</td>
                                    <td>{{ livre.titre }}</td>
                                    <td>{{ livre.auteur}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('admin_categorie_index') }}" class="btn btn-warning">
<i class="fa fa-reply"></i> Retour liste
</a>

    <a href="{{ path('admin_categorie_edit', {'id': categorie.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</a>

	<span class="float-right">
	    {{ include('admin_categorie/_delete_form.html.twig') }}
	</span>
{% endblock %}
