{% extends "base.html.twig" %}

{% block title %}Fiche Livre{% endblock %}

{% block titre %}Fiche du livre n°{{ livre.id }}{% endblock %}

{% block body %}
    <ul class="list-group ">
        <li class="list-group-item">
            <h2 class="row">
                <strong class="col-2 text-right">Titre :  </strong>
                <span class="col-10">{{ livre.titre }}</span>
            </h2>
        </li>
        
        <li class="list-group-item">
            <h3 class="row">
                <strong class="col-2 text-right">Auteur : </strong>
                <span class="col-10">{{ livre.auteur }}</span>
            </h3>
        </li>
        
        <li class="list-group-item">
            <h4 class="row">
                <strong class="col-2 text-right">Catégories : </strong>
                {# COURS : La variable 'loop' permet d'avoir des informations sur les itérations #}
                <span class="col-10">
                    {% for categorie in livre.categories %}
                        {{ categorie.titre ~ (loop.last ? "" : ", ") }}
                    {% endfor %}
                    {# On peut aussi utiliser la fonction getToutescategories ajoutée dans l'entité Categorie #}
                    {# {{ livre.toutesCategories }}  #}
                </span>
            </h4>
        </li>

        <li class="list-group-item">
            <h5 class="row">
                <strong class="col-2 text-right">Disponible : </strong>
                <span class="col-10">
                    <span class="badge badge-primary badge-pill">{% if livre.dispo is not null %} {{ livre.dispo ? "✔" : "❌" }} {% endif %}</span>
                 </span>
            </h5>
        </li>

        <li class="list-group-item">
            <h6 class="row">
                <strong class="col-2 text-right">Popularité : </strong>
                <span class="col-10"> 
                    <span class="badge badge-primary badge-pill">Emprunté {{ livre.emprunts|length }} fois </span>
                      
                </span>
            </h6>
        </li>
        <li class="list-group-item"></li>
    </ul> 
    

    <a href="{{ path("accueil") }}" class="btn btn-primary mt-5"><i class="fa fa-home"> Retour</i></a>

    {% if is_granted("ROLE_LECTEUR") %}
        <a href="{{ "" }}" class="btn btn-success mt-5">Emprunter</a>
    {% endif %}


{% endblock %}