{% extends "base.html.twig" %}

{% block title %}Fiche Livre{% endblock %}

{% block titre %}Fiche Livre{% endblock %}

{% block body %}
    <ul class="list-group">
        <li class="list-group-item"><strong>Titre :  </strong>{{ livre.titre }}</li>
        <li class="list-group-item"><strong>Auteur : </strong>{{ livre.auteur }}</li>
        <li class="list-group-item"><strong>Disponible : </strong>
            {% if livre.dispo is not null %}
                {{ livre.dispo ? "✔" : "❌" }}
            {% endif %} 
        </li>
        <li class="list-group-item">
            <strong>Emprunts</strong>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <th>Abonné</th>
                    <th>Date emprunt</th>
                    <th>Date retour</th>
                </thead>

                <tbody>
                {% for emprunt in livre.emprunts %}
                    <tr>
                        <td>{{ emprunt.abonne.pseudo }}</td>
                        <td>{{ emprunt.dateEmprunt ? emprunt.dateEmprunt|date('d/m/y') : '' }}</td>
                        <td>{{ emprunt.dateRetour ? emprunt.dateRetour|date('d/m/y') : '' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </li>
    </ul>
    
    


{% endblock %}