{% extends 'base_admin.html.twig' %}

{% block title %}Liste des Auteurs{% endblock %}

{% block titre %} {{ block("title") }} {% endblock %}

{% block body %}

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th class="col-1">Id</th>
                <th class="col-4">Nom</th>
                <th class="col-4">Biographie</th>
                <th class="col-2">Dates</th>
                <th class="col-1"><i class="fa fa-tools"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td>{{ auteur.identite }}</td>
                <td>{{ auteur.biographie|extrait(20) }}</td>
                <td>{{ auteur.naissance ? auteur.naissance|date("Y") : "" }} - {{ auteur.deces ? auteur.deces|date("Y") : "" }}</td>
                <td>
                    <a href="{{ path('app_admin_auteur_show', {'id': auteur.id}) }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_admin_auteur_edit', {'id': auteur.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun auteur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
