<nav class="nav navbar-expand flex-md-column navbar-dark bg-dark flex-row align-items-start">
	<div class="collapse navbar-collapse">
		<ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
			<li class="nav-item ">
				<a class="nav-link" href="">GESTION</a>
			</li>

			<li class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
				<a class="nav-link {{ app.request.pathinfo == path("app_admin_client_index") ? " active" : " " }}" href="#menu-abonnes"  data-toggle="collapse" >
					Clients
				</a>
				<ul id="menu-abonnes" class="collapse">
					<li class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
						<a class="nav-link {{ app.request.pathinfo == path("app_admin_client_index") ? " active" : " " }}" href="{{ path("app_admin_client_index") }}">
							<i class="fa fa-list-alt"></i>
							Liste
						</a>
					</li>
					<li class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
						<a class="nav-link {{ app.request.pathinfo == path("app_admin_client_new") ? " active" : " " }}" href="{{ path("app_admin_client_new") }}">
							<i class="fa fa-plus-square"></i>
							Ajouter
						</a>
					</li>
				</ul>
			</li>

			</li>
			<li class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
				<a class="nav-link {{ app.request.pathinfo == path("app_admin_produit_index") ? " active" : " " }}" href="#menu-produits" data-toggle="collapse">
					Produits
				</a>
				<ul id="menu-produits" class="collapse">
					<li class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
						<a class="nav-link {{ app.request.pathinfo == path("app_admin_produit_index") ? " active" : " " }}" href="{{ path("app_admin_produit_index") }}">
							<i class="fa fa-list-alt"></i>
							Liste
						</a>
					</li>
					<li class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
						<a class="nav-link {{ app.request.pathinfo == path("app_admin_produit_new") ? " active" : " " }}" href="{{ path("app_admin_produit_new") }}">
							<i class="fa fa-plus-square"></i>
							Ajouter
						</a>
					</li>
				</ul>
			</li>
			
			<li class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
				<a class="nav-link {{ app.request.pathinfo == path("app_admin_commande_index") ? " active" : " " }}" href="#menu-emprunts" data-toggle="collapse">
					Commandes
				</a>
				<ul id="menu-emprunts" class="collapse">
					<li class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
						<a class="nav-link {{ app.request.pathinfo == path("app_admin_commande_index") ? " active" : " " }}" href="{{ path("app_admin_commande_index") }}">
							<i class="fa fa-list-alt"></i>
							Liste
						</a>
					</li>
					<li class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
						<a class="nav-link {{ app.request.pathinfo == path("app_admin_commande_new") ? " active" : " " }}" href="{{ path("app_admin_commande_new") }}">
							<i class="fa fa-plus-square"></i>
							Ajouter
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-item">
				<a class="nav-link"></a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="{{ path("app_logout") }}">
					<i class="fa fa-sign-out-alt"></i> Déconnexion
				</a>
			</li>

		</ul>
	</div>
</nav>
