{% extends "base.html.twig" %}

{% block title %}Fiche Auteur{% endblock %}

{% block titre %}Auteur {{ auteur.identite|upper }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <ul class="list-group ">
                <li class="list-group-item">
                    <h4 class="row">
                        <strong class="col-xl-3 col-lg-12">Nom</strong>
                        <span class="col-xl-9  col-lg-12 d-flex justify-content-between align-items-center" >
                            {{ auteur.identite }}

                            <span class="badge badge-primary badge-pill"> <i class="fa fa-{{ auteur.livres|length ? "check" : "times" }}"></i> </span>
                        </span>
                    </h4>
                </li>
                
                <li class="list-group-item">
                    <h4 class="row">
                        <strong class="col-4">Oeuvres</strong>
                        <span class="col-8">{{ auteur.livres|length }}</span>
                    </h4>
                </li>

                <li class="list-group-item">
                    <h4 class="row">
                        <strong class="col-3">Vie</strong>
                        <span class="col-9">{{ auteur.naissance ? auteur.naissance|date : "..." }} - {{ auteur.deces ? auteur.deces|date : "..." }}</span>
                    </h4>
                </li>
                


            </ul> 
        </div>
        <div class="col-8">
            <li class="list-group-item">
                <h4 class="row">
                    <strong class="col-2 ">Livres</strong>
                    <ul>
                    {% for livre in auteur.livres %}
                        <li><a href="{{ path('app_visiteur_livre_fiche', {id: livre.id}) }}">{{ livre.titreAuteur }}</a></li>
                    {% endfor %}
                    </ul>
                    
                </h4>
            </li>
        </div>
    </div>
    

    <a href="{{ path("app_accueil") }}" class="btn btn-primary mt-5"><i class="fa fa-home"> Retour</i> Accueil</a>
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path("app_admin_auteur_edit", {id: auteur.id}) }}" class="btn btn-primary mt-5"><i class="fa fa-edit"> Actualisation</i></a>
        
    {% endif %}


{% endblock %}