{% extends "base.html.twig" %}

{% block body %}
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th colspan="4">Détail de la commande n°{{ commande.id }} : {{ commande.details|length }} produit(s)</th>
            </tr>

            <tr>
                <th>Produit</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in commande.details %}
                <tr>
                    <td>{{ detail.produit.titre }}</td>
                    <td>{{ detail.prix }} €</td>
                    <td>{{ detail.quantite }}</td>
                    <td>{{ detail.prix * detail.quantite }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot class="thead-dark">
            <tr>
                <th colspan="3">Total</th>
                <td>{{ commande.montant }} €</td>
            </tr>
        </tfoot>
    </table>

    <a href="{{ path("app_espace") }}" class="btn btn-secondary mt-4">
        <i class="fa fa-reply"></i> Espace Client
    </a>

{% endblock %}

{% block title %}
    Détail commande
{% endblock %}