<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Gestion{% endblock %}| Biblio SF5</title>
        <link rel="shortcut icon" href="{{ asset(chemin_images ~ "logo.png" )}}" type="image/png">
		{% block stylesheets %}
			{{ encore_entry_link_tags("app") }}
			{{ encore_entry_link_tags("gestion") }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags("app") }}
			{{ encore_entry_script_tags('gestion') }}
		{% endblock %}
	</head>

	<body>
        <div class="right-aside">
			{% include"_partiels/_menu.html.twig" %}
        </div>

		<aside class="bg-dark">
			{% include "_partiels/_menu_admin.html.twig" %}
		</aside>

		<main class="right-aside">
			<div class="mx-5 pt-2">
				{% include "_partiels/_messages.html.twig" %}

				<h1>{% block titre %}Gestion de la bibliothèque{% endblock %}</h1>
				{% block body %}
					{% block formulaire %}{% endblock %}

					<div>
						<h2>Liste des livres : {{ liste_livres|length }}</h2>
						{% if liste_livres|length %}
							<div class="card-columns">
								{# EXO : afficher la liste des livres #}
								{% for livre in liste_livres %}
									{% include "livre/vignette.html.twig" with { "livre": livre } %}
								{% endfor %}
							</div>
						{% else %}
							<div class="alert alert-warning">Aucun livre, ni auteur, ne correspond à votre recherche</div>
						{% endif %}
					</div>
				{% endblock %}
			</div>
		</main>

		{% include "_partiels/_footer.html.twig" with { "footer_admin": true } %}

	</body>
</html>
