{% extends 'base.html.twig' %}

{% block title %}Liste Emprunts{% endblock %}

{% block titre %}Liste des Emprunts{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Abonné</th>
                <th>Livre</th>
                <th>Emprunté le</th>
                <th>Rendu le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <td>{{ emprunt.id }}</td>
                <td>{{ emprunt.abonne.pseudo }}</td>
                <td>{{ emprunt.livre.titre ~ " - " ~ emprunt.livre.auteur }}</td>
                {# COURS : 
                    # pour afficher une propriété de type date (donc un objet de la classe DateTime), il faut
                        utiliser le filtre 'date' qui prend le format désiré comme argument
                    # pas besoin de fournir un format au filtre 'date' car défini par défaut dans twig.yaml #}
                <td>{{ emprunt.dateEmprunt|date() }}</td>
                {# COURS : ⚠ si la propriété type date est nulle, c'est la date du jour qui sera renvoyé par le filtre #}
                <td>{{ emprunt.dateRetour ? emprunt.dateRetour|date() : '' }}</td>
                <td>
                    <a href="{{ path('emprunt_show', {'id': emprunt.id}) }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('emprunt_edit', {'id': emprunt.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Auncun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emprunt_new') }}" class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter</a>
{% endblock %}
