{% extends 'base_admin.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block titre %}Livres : {{ livres.getTotalItemCount }} <a href="{{ path('app_admin_livre_new') }}" class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter</a>{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th {% if livres.isSorted('id') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(livres, 'Id', 'id') }}
                </th>
                <th class="text-center">Couverture</th>
                <th {% if livres.isSorted('titre') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(livres, 'Titre', 'titre') }}
                </th>
                <th {% if livres.isSorted('auteur') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(livres, 'Auteur', 'auteur') }}
                </th>
                <th>Genres</th>
                <th><i class="fa fa-tools"></i></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                {{ form_start(form) }}
                <td></td>
                <td>{{ form_widget(form.couverture) }}</td>
                <td>{{ form_widget(form.titre) }}</td>
                <td>{{ form_widget(form.auteur) }}</td>
                <td></td>
                <td>{{ form_widget(form.enregistrer) }}</td>
                {{ form_end(form) }}
            </tr>
    
            {% for livre in livres %}
                <tr>
                    <td>{{ livre.id }} {{ livre.dispo ? "✔" : "❌" }}</td>
                    <td class="text-center"><img src="{{ asset(chemin_couvertures ~ livre.couverture) }}" alt="" class="vignette"></td>
                    {# <td>{{ livre.couverture|img("couvertures", "vignette")|raw }}</td> #}
                    <td>{{ livre.titre }}</td>
                    <td>{{ livre.auteur.identite }}</td>
                    <td>
                        {# ? COURS : La variable 'loop' permet d'avoir des informations sur les itérations #}
                        {% for genre in livre.genres %}
                            {{ genre.libelle ~ (loop.last ? "" : ", ") }}
                        {% endfor %}                
                    </td>

                    <td class="d-flex justify-content-between">
                        <a href="{{ path('app_admin_livre_show', {'id': livre.id}) }}"><i class="fa fa-eye"></i></a>
                        <a href="{{ path('app_admin_livre_edit', {'id': livre.id}) }}"><i class="fa fa-edit"></i></a>
                        {{ include('admin/livre/_delete_form.html.twig', {icone: true}) }}
                        {# <a href="{{ path('app_admin_livre_edit_cat', {'id': livre.id}) }}"><i class="fa fa-pen-square"></i></a> #}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Auncun enregistrement</td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot class="table-dark">
            <tr>
                <th colspan="6">{{ knp_pagination_render(livres, null, {}, {align: "center"}) }}</th>
            </tr>
        </tfoot>
    </table>

    
{% endblock %}
