{% extends 'gestion.html.twig' %}

{% block title %}Liste Livres{% endblock %}

{% block titre %}Liste des Livres{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Couverture</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Catégorie(s)</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }} {{ livre.dispo ? "✔" : "❌" }}</td>
                <td><img src="{{ asset(dossier_couvertures ~ livre.couverture) }}" alt="" class="vignette"></td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.auteur }}</td>
                <td>
                    {# COURS : La variable permet d'avoir des informations sur les itérations #}
                    {% for categorie in livre.categories %}
                        {{ categorie.titre ~ (loop.last ? "" : ", ") }}
                    {% endfor %}                
                </td>

                <td>
                    <a href="{{ path('admin_livre_show', {'id': livre.id}) }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('admin_livre_edit', {'id': livre.id}) }}"><i class="fa fa-edit"></i></a>
                    {# <a href="{{ path('admin_livre_edit_cat', {'id': livre.id}) }}"><i class="fa fa-pen-square"></i></a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Auncun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_livre_new') }}" class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter</a>
{% endblock %}
