{% extends 'base.html.twig' %}

{% block title %}Fiche Livre{% endblock %}

{% block titre %}{{ block("title") }}{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Couverture</th>
                <td>
                    <img src="{{ asset(dossier_couvertures ~ livre.couverture) }}" alt="{{ livre.titre }}" class="miniature">
                </td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ livre.auteur }}</td>
            </tr>
            <tr>
                <th>Catégories</th>
                {# la fonction getToutesCategories a été ajoutée à la classe Entity\Livre #}
                <td>{{ livre.toutescategories }}</td>
            </tr>
            <tr>
                <th>Disponibilité</th>
                <td>
                    {% if livre.dispo %}
                        <i class="fa fa-check text-success"></i>
                    {% else %}
                        <i class="fa fa-times text-danger"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Emprunts</th>
                <td>
                    <table class="table table-bordered table-primary table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th>Abonné</th>
                                <th>Emprunté le</th>
                                <th>Rendu le</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for emprunt in livre.emprunts %}
                                <tr>
                                    <td>{{ emprunt.abonne.id ~ ". " ~ emprunt.abonne.pseudo }}</td>
                                    <td>{{ emprunt.dateEmprunt|date() }}</td>
                                    <td>{{ emprunt.dateRetour ? emprunt.dateRetour|date() : "-" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_livre_index') }}" class="btn btn-warning">
<i class="fa fa-reply"></i> Retour liste
</a>

    <a href="{{ path('admin_livre_edit', {'id': livre.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</a>

	<span class="float-right">
	    {{ include('admin_livre/_delete_form.html.twig') }}
	</span>
{% endblock %}
