{% extends 'base_admin.html.twig' %}

{% block title %}Fiche Abonné{% endblock %}

{% block titre %}{{ block("title") }}{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abonne.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ abonne.pseudo }}</td>
            </tr>
            <tr>
                <th>Accréditations</th>
                <td>{{ abonne.autorisations }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ abonne.password ? "*****" : "<i class='fa fa-times'></i>" }}</td>
            </tr>
            <tr>
                <th>Prénom Nom</th>
                <td>{{ abonne.identite }}</td>
            </tr>
            <tr>
                <th>Emprunts</th>
                <td>
                    <table class="table table-bordered table-primary table-sm">
                        <thead class="table-dark">
                            <tr>
                                <th>Livre</th>
                                <th>Emprunté le</th>
                                <th>Rendu le</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for emprunt in abonne.emprunts %}
                                <tr>
                                    <td>{{ emprunt.livre.titre }} - {{ emprunt.livre.auteur.identite }}</td>
                                    <td>{{ emprunt.dateEmprunt|date() }}</td>
                                    <td>{{ emprunt.dateRetour ? emprunt.dateRetour|date() : "-" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_admin_abonne_index') }}" class="btn btn-warning">
        <i class="fa fa-reply"></i> Retour liste
        </a>

    <a href="{{ path('app_admin_abonne_edit', {'id': abonne.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</a>

	<span class="float-right">
	    {{ include('admin/abonne/_delete_form.html.twig') }}
	</span>
{% endblock %}
